.body1{
    margin: 0 auto;
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #02001b;
}

.container{
    margin: 0 auto;
    width: 40%;
    min-height: 500px;
    max-height: 600px;
    background-color: rgba(10, 0, 48, 0.459);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    border: 3px white solid;
}
.container2{
    margin: 0 auto;
    width: 25%;
    min-height: 50px;
    max-height: 50px;
    background-color:#05004491  ;
    padding: 10px;
    border-radius: 0 0 20px 20px ;
    align-items: center;
    display: flex;
}
.container3{
    margin: 0 auto;
    width: 25%;
    min-height: 50px;
    max-height: 50px;
    padding: 10px;
    align-items: center;
    display: flex;
}
.cubo1{
    margin: 10px auto;
    width: 26%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 400px ;
    align-content: center;
}
.cubo2{ 
    margin: 0% auto;
    width: 80%;
    height: 70px;
    background-color:  rgb(10, 0, 48);
    border-radius: 20px ;
    align-content: center;
}
.cubo3{ 
    margin: 5% auto;
    width: 80%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px ;
    display: flex;
}
.cubo3_1{ 
    margin: 0;
    width: 20%;
    height: 100%;
    background-color:#07015280;
    align-content: center;
    border-radius: 15px 0 0 15px;   
}
.cubo3_2{ 
    margin: 0;
    width: 80%;
    height: 100%;
    background-color:   rgb(177, 177, 177);
    align-content: center;
}


.h11{
    font-size: 22px;
    text-align:center;
    color: #ffffff;
}

.img_sesion{
    width: 150px;
    height: 150px;
}
.img_icono1{
    padding-left: 10px;
    width: 80%;
    height: auto;
}

.text1{
    width: 93.5%;
    height: 92.5%;
    border: none;
    background-color: #02001b;
    padding-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.btn1{
    margin: 0;
    width: 100%;
    height: 46px;
    border: none;
    background-color:  #05004491 ;
    padding-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.btn1:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(10, 0, 48);
}
