<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <div> <!-- Perfil -->
        Foto
        Usuario
        usuario@ejemplo.com
    </div>
    <div> <!-- Barra superior -->
        <form>
            <input type="text" placeholder="Buscar">
            <input type="submit" value="Buscar">
        </form>
    </div>
    <div> <!-- Crear publicación -->
        <form>
            <input type="text" placeholder="¿Qué quieres compartir?">
            <input type="image" value="Insertar imagen">
            <input type="submit" value="Publicar">
        </form>
    </div>
    <div><!-- Contenido -->
        <div> <!-- Publicación -->
            Foto
            <br>
            <a href="www.google.com">Usuario</a> - Fecha
            <br>
            Contenido
            <br>
            Foto
        </div>
    </div>
    
</body>
</html>