<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <div> <!-- Div que divide la página a la mitad-->

    </div>
    <div><!-- Div que divide la página a la mitad-->
        <h1>Inicia sesión en **nombre de la app**</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" id="username" placeholder="Nombre de usuario o correo electrónico">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <input type="submit" value="Iniciar sesión">
        </form>
        <input type="button" value="Registrarse">
    </div>
    
</body>
</html>