<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <div> <!-- Barra superior -->
        <form>
            <input type="text" placeholder="Buscar">
            <input type="submit" value="Buscar">
        </form>
    </div>
    <div><!-- Contenido -->
        <a href="{{ url_for('publicaciones') }}">
            Regresar a la feed
        </a>

        {% if profile_picture %}
            <h3>Foto de Perfil:</h3>
            <img src="data:image/png;base64,{{ profile_picture }}" alt="Foto de perfil">
        {% else %}
            <!-- <p>No hay foto de perfil disponible.</p> -->
        {% endif %}
        {{ user.username }}
        {{ user.email }}
        Seguiendo x  Seguidores x
        Publicaciones
        
        <div>
            <p>Bienvenido, {{ user.username }}</p>
        </div>

        
    </div>

    <div> <!-- Publicación -->
        <h2>Publicaciones de {{ user.username }}</h2>
        <ul>
            {% for publicacion in publicaciones %}
                <li>
                    <p><strong>{{ publicacion.nombre_usuario }}</strong> - <em>{{ publicacion.fecha }}</em></p>
                    <p>{{ publicacion.contenido }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    {% if session['nombre_usuario'] %}
        <a href="{{ url_for('logout') }}">Cerrar sesión</a>
    {% else %}
        <a href="{{ url_for('inicio') }}">Iniciar sesión</a>
    {% endif %}

</body>
</html>