<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <div> <!-- Barra superior -->
        <form>
            <input type="text" placeholder="Buscar">
            <input type="submit" value="Buscar">
            <a href="{{ url_for('editar_perfil') }}">Editar Perfil</a>

        </form>
    </div>
    <div><!-- Contenido -->
        {% if profile_picture %}
            <h3>Foto de Perfil:</h3>
            <img src="data:image/png;base64,{{ profile_picture }}" alt="Foto de perfil">
        {% else %}
            <p>No hay foto de perfil disponible.</p>
        {% endif %}
        {{ user.username }}
        {{ user.email }}
        Seguiendo x  Seguidores x
        Publicaciones
        
        <div> <!-- Publicación -->
            Foto
            <br>
            <a href="www.google.com">Usuario</a> - Fecha
            <br>
            Contenido
            <br>
            Foto
        </div>
    </div>
    
    {% if session['nombre_usuario'] %}
        <p>Bienvenido, {{ session['username'] }}</p>
        <a href="{{ url_for('logout') }}">Cerrar sesión</a>
    {% else %}
        <a href="{{ url_for('inicio') }}">Iniciar sesión</a>
    {% endif %}

</body>
</html>