<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <div> <!-- Barra superior -->
        <form>
            <input type="text" placeholder="Buscar">
            <input type="submit" value="Buscar">
        </form>
    </div>
    <div> <!-- Perfil -->
        {% if profile_picture %}
            <h3>Foto de Perfil:</h3>
            <a href="{{ url_for('perfil') }}">
                <img src="data:image/png;base64,{{ profile_picture }}" alt="Foto de perfil">
            </a>
        {% endif %}
        <a href="{{ url_for('perfil') }}">
            {{ user.username }}
        </a>
        {{ user.email }}
    </div>
    <div> <!-- Crear publicación -->
        <form action="{{ url_for('crear_publicacion') }}" method="POST">
            <p>¿Qué estás pensando?</p>
            <textarea name="contenido" placeholder="Escribe tu publicación..." required></textarea>
            <button type="submit">Publicar</button>
        </form>
    </div>

    <div>
        <p>Bienvenido, {{ user.username }}</p>
    </div>

    <div><!-- Contenido -->
        
        <h1>Publicaciones</h1>
        <h2>Publicaciones recientes</h2>
        <ul>
            {% for publicacion in publicaciones %}
                <li>
                    <p><strong>{{ publicacion.nombre_usuario }}</strong> - <em>{{ publicacion.fecha }}</em></p>
                    <p>{{ publicacion.contenido }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if session['nombre_usuario'] %}
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ url_for('inicio') }}">Iniciar sesión</a>
        {% endif %}
    </div>
</body>
</html>