<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <div> <!-- Perfil -->
        Foto
        Usuario
        usuario@ejemplo.com
    </div>
    <div> <!-- Barra superior -->
        <form>
            <input type="text" placeholder="Buscar">
            <input type="submit" value="Buscar">
        </form>
    </div>
    <div> <!-- Crear publicación -->
        <form>
            <input type="text" placeholder="¿Qué quieres compartir?">
            <input type="image" value="Insertar imagen">
            <input type="submit" value="Publicar">
        </form>
    </div>
    <div><!-- Contenido -->
        
        <h1>Publicaciones</h1>
            
        <form action="{{ url_for('crear_publicacion') }}" method="POST">
            <textarea name="contenido" placeholder="Escribe tu publicación..." required></textarea>
            <button type="submit">Publicar</button>
        </form>

        <h2>Publicaciones recientes</h2>
        <ul>
            {% for publicacion in publicaciones %}
                <li>
                    <p><strong>Usuario ID:</strong> {{ publicacion.id_usuario }}</p>
                    <p>{{ publicacion.contenido }}</p>
                    <p><em>Fecha: {{ publicacion.fecha }}</em></p>
                </li>
            {% endfor %}
        </ul>


    </div>
    
</body>
</html>