<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script>
        function buscarUsuario() {
            let input = document.getElementById("searchUser").value;
            if (input.length > 1) {
                fetch(`/buscar_usuarios?query=${input}`)
                .then(response => response.json())
                .then(data => {
                    let resultados = document.getElementById("resultadosBusqueda");
                    resultados.innerHTML = "";
                    data.forEach(user => {
                        let li = document.createElement("li");
                        li.innerHTML = `<a href="/perfil/${user.id}">${user.username}</a>`;
                        resultados.appendChild(li);
                    });
                });
            }
        }
    </script>
        
</head>
<body>
    <div> <!-- Barra superior -->
        <input type="text" id="searchUser" placeholder="Buscar usuario..." onkeyup="buscarUsuario()">
        <ul id="resultadosBusqueda"></ul>
    </div>
    <div> <!-- Perfil -->
        {% if profile_picture %}
            <h3>Foto de Perfil:</h3>
            <a href="{{ url_for('perfil', id_usuario=user.id) }}">
                <img src="data:image/png;base64,{{ profile_picture }}" alt="Foto de perfil">
            </a>
        {% endif %}
        <a href="{{ url_for('perfil', id_usuario=user.id) }}">
            {{ user.username }}
        </a>
        {{ user.email }}
    </div>
    <div> <!-- Crear publicación -->
        <form action="{{ url_for('crear_publicacion') }}" method="POST">
            <p>¿Qué estás pensando?</p>
            <textarea name="contenido" placeholder="Escribe tu publicación..." required></textarea>
            <button type="submit">Publicar</button>
        </form>
    </div>

    <div>
        <p>Bienvenido, {{ user.username }}</p>
    </div>

    <div><!-- Contenido -->
        
        <h1>Publicaciones</h1>
        <h2>Publicaciones recientes</h2>
        <ul>
            {% for publicacion in publicaciones %}
                <li>
                    <p>
                        <strong>
                            <a href="{{ url_for('perfil', id_usuario=publicacion.id_usuario) }}">
                                {{ publicacion.nombre_usuario }}
                            </a>
                        </strong> 
                        - <em>{{ publicacion.fecha }}</em>
                    </p>                    
                    <p>{{ publicacion.contenido }}</p>
                    <p>Likear {{ publicacion.cant_likes}}</p>
                    <br>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if session['nombre_usuario'] %}
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ url_for('inicio') }}">Iniciar sesión</a>
        {% endif %}
    </div>
</body>
</html>